# General module
Django >3.2, <3.3
djangorestframework
djangorestframework-simplejwt

# Third party module
django-filter
drf-yasg[validation]

# testing
pytest
pytest-django
flake8
black

# backgrund process
celery
redis
django-celery-beat
